/* ADICIONANDO FONTE */
@font-face {
    font-family: 'Lato';
    src:  url('../assets/Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--cor-peacock);
    background: linear-gradient(180deg, var(--cor-peacock) 0%, var(--cor-space-blue) 100%);
}



/* NAVBAR */

#div_navbar {
    height: 8vh;
    width: 100vw;
    border-bottom: 0.25vw solid var(--cor-taupe);
    display: flex;
    flex-direction: row;
    align-items: center;
}




/* ITENS NAVBAR */
#ul_navbar {
    width: 80%;
    height: 100%;
    list-style: none;
    color: var(--cor-taupe);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    white-space: nowrap;
    flex-direction: row;
    margin-right: 2.1vw;
    margin-left: 1.2vw;
}

#ul_navbar a {
    color: var(--cor-taupe);
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 700;
}

#div_selecionado a {
    margin-bottom: 1vw;
}


/* BOTAO LOGIN */
#button_login {
    cursor: pointer;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw; 
    height: 5vh;
    background-color: var(--cor-taupe);
    font-weight: 900;
    border-radius: 1vw;
    border: 0.3vw solid white;
    margin-right: 3%;
    margin-left: 3%;
}

#selecionado_navbar li {
    margin-top: -1%;
}

#barra_selecionado {
    margin-top: 5%;
    width: 7.4vw;
    border-radius: 3vw;
    background-color: var(--cor-taupe);
    height: 1.2vh;
}








#parte_cima {
    display: flex;
    flex-direction: column;
}





#parte_eu {
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#foto_rosto {
    width: 65%;
    border-radius: 50%;
    border: 0.5vw solid var(--cor-taupe);
    height: auto;
    margin-top: 5%;
    margin-left: 15%;
}

#texto_eu {
    width: 50%;
    height: 30%;
    border-radius: 2vw;
    border: 0.1vw solid white;
    background-color: #1E646E;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-right: 10%;
    margin-left: -4%;
}

#texto_eu h1 {
    padding: 2%;
    color: white;
    font-size: 5vw;
    letter-spacing: 0.5vw;
}

#texto_eu span {
    padding: 2%;
    color: var(--cor-taupe);
    text-align: justify;
    font-size: 2vw;
}





#botao_seta1 {
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 63vw;
    margin-top: -2vh;
    transform: rotate(90deg);
}

#img_botao_seta1 {
    height: 2.8vw;
    width: 3vw;
}





#parte_porque {
    width: 100vw;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#texto_porque {
    width: 80%;
    display: flex;
    height: 40%;
    border-radius: 2vw;
    border: 0.2vw solid white;
    background-color: var(--cor-taupe);
    flex-direction: column;
    text-align: start;
    padding: 2%;
}

#texto_porque h1 {
    text-align: center;
    color: var(--cor-caribbean);
    font-size: 2.1vw;
    font-weight: 900;
    margin-bottom: 3%;
}

#texto_porque span {
    color: black;
    font-size: 1.8vw;
    text-align: justify;
    font-weight: 700;
}







#contatos {
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 3%;
}

#formas_contato {
    width: 60%;
    border: 0.3vw solid var(--cor-taupe);
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
}

#forma_contato {
    width: 10%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column; 
    padding: 1%;
    transition: 0.4s;
    font-size: 1.4vw;
}

#forma_contato:hover {
    width: 17%;
    font-size: 0vw;
    cursor: pointer;
}

#forma_contato img {
    width: 40%;
    height: auto;
}

#forma_contato span {
    font-size: 100%;
    font-weight: 700;
}
