/* ADICIONANDO FONTE */
@font-face {
    font-family: 'Lato';
    src:  url('../../Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--cor-peacock);
    background: linear-gradient(180deg, var(--cor-peacock) 0%, var(--cor-space-blue) 100%);
}



/* NAVBAR */

#div_navbar {
    height: 8vh;
    width: 100vw;
    border-bottom: 0.25vw solid var(--cor-taupe);
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* LOGO */
#div_logo {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#img_logo {
    width: 4vw;
    height: 4vw;
}

#span_logo {
    padding-top: 1.7vh;
    font-size: 1.5vw;
    margin-top: 0.1vh;
    margin-left: -0.4vw;
    font-weight: 700;
    color: var(--cor-caribbean);
    text-decoration: underline;
}


/* ITENS NAVBAR */
#ul_navbar {
    width: 80%;
    height: 100%;
    list-style: none;
    color: var(--cor-taupe);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    white-space: nowrap;
    flex-direction: row;
    margin-right: 2.1vw;
    margin-left: 1.2vw;
}

#ul_navbar a {
    color: var(--cor-taupe);
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 700;
}

#div_selecionado a {
    margin-bottom: 1vw;
}


/* BOTAO LOGIN */
#button_login {
    cursor: pointer;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw; 
    height: 5vh;
    background-color: var(--cor-taupe);
    font-weight: 900;
    border-radius: 1vw;
    border: 0.3vw solid white;
    margin-right: 1vw;
}








/* PARTE INICIAL */

#parte_inicial {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 0.5vw solid var(--cor-taupe);
}

#texto_inicial {
    color: white;
    width: 70%;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.3;
}



#div_texto_programacao {
    width: 60%;
    border: 0.3vw solid var(--cor-caribbean);
    border-radius: 0.7vw;
    margin-top: 3%;
    overflow-y: hidden;
}

#texto_programacao {
    font-size: 1.6vw;
    color: #B2A59F;
    padding: 0.1vw;
}   


















/* ONDE TUDO COMEÇOU */

#parte_explicacao {
    width: 100vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_usos_tecnologia {
    width: 300vw;
    height: 100%;
    left: 100vw;
    display: flex;
    position: relative;
}

/* LEFT -100VW
transition: 0.5s */



#div_usos_tecnologia .card {
    text-align: center;
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#div_usos_tecnologia .card h1 {
    font-size: 2vw;
    font-weight: 900;
    color: white;
}

#div_usos_tecnologia .card div {
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.7vw;
    border: 0.3vw solid var(--cor-taupe);
    background: rgb(2,52,89);
    background: linear-gradient(180deg, rgba(2,52,89,1) 0%, rgba(0,44,47,1) 100%);
}

#div_usos_tecnologia .card div span {
    font-size: 1.6vw;
    color: var(--cor-taupe);
    padding-left: 3%;
    padding-right: 3%;
}

#div_usos_tecnologia .card div img {
    width: 20vw;
    height: auto;
    border-radius: 0.5vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border: 0.1vw solid white;
}

#card_e {
    margin-right: 3vw;
    margin-left: 17vw;
}

#card_d {
    margin-left: 3vw;
    margin-right: 17vw;
}









/* BOTAO SETA */
#botao_seta {
    top: 53vh;
    left: 6vw;
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    justify-content: center;
    display: none;
    cursor: pointer;
}

#img_botao_seta {
    height: 2.8vw;
    width: 3vw;
}

#botao_seta2 {
    top: 53vh;
    display: flex;
    left: 90vw;
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#img_botao_seta2 {
    height: 2.8vw;
    width: 3vw;
}







/* BOTAO PROXIMA PAGINA */
#botao_proxima_pagina {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao_proxima_pagina button {
    background-color: var(--cor-taupe);
    border: 0.2vw solid white;
    color: black;
    cursor: pointer;
    width: 23%;
    height: 100%;
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.4vw;
    border-radius: 0.7vw;
}

#botao_proxima_pagina button:hover {
    font-size: 1.55vw;
    transition: 0.8s ease-in-out;
}




/* RODAPÉ */
#rodape {
    width: 100vw;
    height: 10%;
    background-color: var(--cor-taupe);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
#rodape #div_logo {
    margin-left: 2%;
}

#texto_rodape {
    color: white;
    font-weight: 700;
    font-size: 1.6vw;
    margin-right: 2%;
}

#contatos {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
}

#logo_facebook {
    width: 3vw;
    height: auto;
}

#logo_instagram {
    margin-top: 0.4vw;
    width: 3.4vw;
    height: auto;
}