/* ADICIONANDO FONTE */
@font-face {
    font-family: 'Lato';
    src:  url('../../Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../../Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--cor-peacock);
    background: linear-gradient(180deg, var(--cor-peacock) 0%, var(--cor-space-blue) 100%);
}



/* NAVBAR */

#div_navbar {
    height: 8vh;
    width: 100vw;
    border-bottom: 0.25vw solid var(--cor-taupe);
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* LOGO */
#div_logo {
    width: 4vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 1%;
}

#img_logo {
    width: 4vw;
    height: 4vw;
}


/* ITENS NAVBAR */
#ul_navbar {
    width: 80%;
    height: 100%;
    list-style: none;
    color: var(--cor-taupe);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    white-space: nowrap;
    flex-direction: row;
    margin-right: 2.1vw;
    margin-left: 1.2vw;
}

#ul_navbar a {
    color: var(--cor-taupe);
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 700;
}

#div_selecionado a {
    margin-bottom: 1vw;
}


/* BOTAO LOGIN */
#button_login {
    cursor: pointer;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw; 
    height: 5vh;
    background-color: var(--cor-taupe);
    font-weight: 900;
    border-radius: 1vw;
    border: 0.3vw solid white;
    margin-right: 3%;
    margin-left: 3%;
}


#selecionado_navbar li {
    margin-top: -1%;
}

#barra_selecionado {
    margin-top: 5%;
    width: 7vw;
    border-radius: 3vw;
    background-color: var(--cor-taupe);
    height: 1.2vh;
}







/* PARTE INICIAL */

#parte_inicial {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 0.5vw solid var(--cor-taupe);
}

#texto_inicial {
    color: white;
    width: 70%;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.3;
}



#div_texto_programacao {
    width: 60%;
    border: 0.3vw solid var(--cor-caribbean);
    border-radius: 0.7vw;
    padding: 0.5%;
    margin-top: 3%;
    overflow-y: hidden;
}

#texto_programacao {
    font-size: 1.6vw;
    color: #B2A59F;
    padding: 0.1vw;
}   


















/* CARDS */

#parte_explicacao {
    width: 100vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_usos_tecnologia, #div_usos_outros {
    width: 300vw;
    height: 100%;
    left: 100vw;
    display: flex;
    position: relative;
}

#div_usos_tecnologia {
    margin-bottom: 3%;
    padding-bottom: 3%;
    border-bottom: 0.5vw solid var(--cor-taupe);
}

.titulo {
    color: white;
    margin-bottom: 3%;
    font-size: 4vw;
}


#div_usos_tecnologia .card, #div_usos_outros .card {
    text-align: center;
    width: 28vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#div_usos_tecnologia .card h1, #div_usos_outros .card h1 {
    font-size: 2vw;
    font-weight: 900;
    color: var(--cor-taupe);
}

#div_usos_tecnologia .card .conteudo_card, #div_usos_outros .card .conteudo_card {
    margin-top: 5%;
    width: 80%;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.7vw;
    border: 0.3vw solid var(--cor-taupe);
    background: rgb(2,52,89);
    background: linear-gradient(180deg, rgba(2,52,89,1) 0%, rgba(0,44,47,1) 100%);
}

#div_usos_tecnologia .card .conteudo_card span, #div_usos_outros .card .conteudo_card span {
    font-size: 1.6vw;
    color: var(--cor-taupe);
    padding-left: 3%;
    padding-right: 3%;
}

#div_usos_tecnologia .card .conteudo_card img, #div_usos_outros .card .conteudo_card img {
    width: 20vw;
    height: auto;
    border-radius: 0.5vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border: 0.1vw solid white;
}

#card_e {
    margin-right: 3vw;
    margin-left: 17vw;
}

#card_d {
    margin-left: 3vw;
    margin-right: 17vw;
}

#cards1, #cards2, #cards3 {
    width: 100vw;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row;
}









/* BOTOES SETAS */
#botao_seta1, #botao_seta2, #botao_seta3, #botao_seta4 {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#img_botao_seta1, #img_botao_seta2, #img_botao_seta3, #img_botao_seta4 {
    height: 2.8vw;
    width: 3vw;
}

#botao_seta1, #botao_seta3 {
    top: 50%;
    right: 10vw;
}

#botao_seta2, #botao_seta4 {
    top: 50%;
    right: 90vw;
    transform: rotate(180deg);
}





#botao_seta5, #botao_seta6, #botao_seta7, #botao_seta8 {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#img_botao_seta5, #img_botao_seta6, #img_botao_seta7, #img_botao_seta8 {
    height: 2.8vw;
    width: 3vw;
}

#botao_seta5, #botao_seta7 {
    top: 50%;
    right: 10vw;
}

#botao_seta6, #botao_seta8 {
    top: 50%;
    right: 90vw;
    transform: rotate(180deg);
}















/* BOTAO PROXIMA PAGINA */
#botao_proxima_pagina {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao_proxima_pagina button {
    background-color: var(--cor-taupe);
    border: 0.2vw solid white;
    color: black;
    cursor: pointer;
    width: 23%;
    height: 100%;
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.4vw;
    border-radius: 0.7vw;
    transition: 0.8s ease-in-out;
}

#botao_proxima_pagina button:hover {
    font-size: 1.55vw;
    width: 25%;
}







/* RODAPÉ */
#rodape {
    width: 100vw;
    height: 10%;
    background-color: var(--cor-taupe);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* LOGO */
#rodape #div_logo {
    margin-left: 2%;
}

#texto_rodape {
    color: var(--cor-space-blue);
    font-weight: 700;
    font-size: 1.6vw;
    margin-left: 12%;
    cursor: pointer;
}