/* ADICIONANDO FONTE */
@font-face {
    font-family: 'Lato';
    src:  url('../assets/Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--cor-peacock);
    background: linear-gradient(180deg, var(--cor-peacock) 0%, var(--cor-space-blue) 100%);
}



/* NAVBAR */

#div_navbar {
    height: 8vh;
    width: 100vw;
    border-bottom: 0.25vw solid var(--cor-taupe);
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* LOGO */
#div_logo {
    width: 4vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    margin-left: 1%;
}

#img_logo {
    width: 4vw;
    height: 4vw;
}


/* ITENS NAVBAR */
#ul_navbar {
    width: 80%;
    height: 100%;
    list-style: none;
    color: var(--cor-taupe);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    white-space: nowrap;
    flex-direction: row;
    margin-right: 2.1vw;
    margin-left: 1.2vw;
}

#ul_navbar a {
    color: var(--cor-taupe);
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 700;
}

#div_selecionado a {
    margin-bottom: 1vw;
}


/* BOTAO LOGIN */
#button_login {
    cursor: pointer;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw; 
    height: 5vh;
    color: var(--cor-taupe);
    background-color: var(--cor-space-blue);
    font-weight: 900;
    border-radius: 1vw;
    border: 0.2vw solid white;
    margin-right: 3%;
    margin-left: 3%;
    transition: 0.6s;
}

#button_login:hover {
    border: 0.3vw solid white;
    color: var(--cor-peacock);
    background-color: var(--cor-taupe);
    font-size: 1.7vw;
    width: 9.5vw;
    height: 5.5vh;
    font-weight: 900;
}


#selecionado_navbar li {
    margin-top: -1%;
}

#barra_selecionado {
    margin-top: 5%;
    width: 7vw;
    border-radius: 3vw;
    background-color: var(--cor-taupe);
    height: 1.2vh;
}







/* PARTE INICIAL */

#parte_inicial {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#texto_inicial {
    color: var(--cor-taupe);
    width: 70%;
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.3;
}






/* CARDS DE EVOLUÇÃO */
#parte_explicacao {
    width: 100vw;
    height: 100vh;
    margin-top: 3vh;
    margin-bottom: 7vh;
    display: flex;
    align-items: end;
}

#setas {
    width: 100%;
    transition: 2.5s;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

#setas1 {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    width: 85%;
    height: 28%;
}

#setas2 {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    width: 85%;
    height: 28%;
}

.forma {
    width: 50%;
    margin-right: -11%;
    margin-left: -11%;
    height: 95%;
    clip-path: polygon(0% 100%, 50% 100%, 60% 50%, 50% 0%, 0% 0%, 10% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.forma:hover {
    color: #023459;
    background-color: var(--cor-caribbean);
    border-top: 0.3vw solid white;
    border-bottom: 0.3vw solid white;
}

.fortran, .c, .web {
    background-color: var(--cor-taupe);
    color: white;
}

.cobol, .objetos, .modernas {
    color: var(--cor-taupe);
    background-color: white;
}

.forma span {
    font-size: 3vw;
    position: absolute;
    width: 100%;
    font-weight: 700;
}

.fortran span {
    margin-right: 37%;
}

.cobol span {
    margin-right: 35%;
}

.c span {
    margin-right: 32%;
}

.objetos span {
    margin-right: 37%;
}

.web span {
    margin-right: 37%;
}

.modernas span {
    margin-right: 35%;
}








/* CARDS DE TEXTO */
#caixa_texto {
    width: 100vw;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#div_linguagem {
    text-align: center;
    width: 55%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#titulo_linguagem {
    font-size: 2vw;
    font-weight: 900;
    color: white;
    margin-bottom: 5%;
}

#texto_linguagem {
    padding: 1vw;
    margin-top: 2.5%;
    width: 90%;
    border-radius: 2vw;
    border: 0.3vw solid var(--cor-taupe);
    background: rgb(2,52,89);
    background: linear-gradient(180deg, rgba(2,52,89,1) 0%, rgba(0,44,47,1) 100%);
    font-size: 1.6vw;
    color: var(--cor-taupe);
}








/* LINHA DO TEMPO DE LINGUAGENS */
#parte_final {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linha_do_tempo {
    width: 65%;
    height: 90%;
    background-color: white;
    border-radius: 2vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    text-align: center;
    border: 0.4vw solid var(--cor-taupe);
}

#linha_do_tempo span {
    padding-left: 7vw;
    padding-right: 7vw;
    font-size: 2vw;
    color: black;
    font-weight: 700;
}

#linha_do_tempo img {
    width: 85%;
    height: auto;
    object-fit: cover;
}





/* BOTAO PROXIMA PAGINA */
#botao_proxima_pagina {
    margin-bottom: 3%;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao_proxima_pagina button {
    background-color: var(--cor-taupe);
    border: 0.2vw solid white;
    color: black;
    cursor: pointer;
    width: 21%;
    height: 100%;
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.4vw;
    border-radius: 0.7vw;
    transition: 0.8s ease-in-out;
}

#botao_proxima_pagina button:hover {
    font-size: 1.55vw;
    width: 23%;
}




/* RODAPÉ */
#rodape {
    width: 100vw;
    height: 10%;
    background-color: var(--cor-taupe);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* LOGO */
#rodape #div_logo {
    margin-left: 2%;
}

#texto_rodape {
    color: var(--cor-space-blue);
    font-weight: 700;
    font-size: 1.6vw;
    margin-left: 12%;
    cursor: pointer;
}