@font-face {
    font-family: 'Lato';
    src:  url('../../assets/Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--cor-peacock);
}




/* BOTOES */
#botoes {
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    align-items: end;
    margin-bottom: 2vh;
    text-align: center;
}

#button_voltar, #button_ranking {
    cursor: pointer;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: var(--cor-taupe);
    font-weight: 900;
    border-radius: 1vw;
    border: 0.3vw solid white;
    transition: 0.5s;
    width: 10vw; 
}

#button_voltar:hover, #button_ranking:hover {
    width: 11vw; 
    font-size: 1.6vw;
    font-weight: 700;
    background-color: var(--cor-space-blue);
    color: var(--cor-taupe);
}

#botoes span {
    width: 20vw;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    text-decoration: underline;
}





/* DESAFIO */
#parte_desafio {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#telas {
    flex-direction: column;
    text-align: center;
    width: 92%;
    display: flex;
    height: 92%;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-taupe);
    border-radius: 2vw;
    border: 0.3vw solid white;
}

#tela_usuario span {
    font-size: 2vw;
    color: white;
    overflow: hidden;
    color: black;
    font-weight: 700;
    font-size: 2.2vw;
}

#tela_usuario div {
    width: 87%;
    height: 40%;
}

#tela_usuario div span {
    margin-right: 1.3vw;    
    display: inline-block;
    color: rgb(97, 97, 97);
    font-weight: 700;
    font-size: 2.2vw;
}

#tela_usuario div span:last-child {
    font-size: 2.8vw;
    color: green;
    text-decoration: underline;
}

#tela_usuario {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    padding: 1.5vw;
}

#tela_usuario input {
    color: black;
    width: 40%;
    height: 20%;
    font-weight: 700;
    border-radius: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border: 0.2vw solid black;
    font-size: 3vw;
    resize: none;
    text-align: center;
}

#tela_usuario button {
    cursor: pointer;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    background-color: var(--cor-space-blue);
    color: var(--cor-taupe);
    font-weight: 900;
    border-radius: 1vw;
    border: 0.3vw solid white;
    width: 10vw; 
    transition: 0.5s;
}

#tela_usuario button:hover {
    font-size: 1.6vw;
    width: 11vw; 
    background-color: var(--cor-caribbean);
    font-weight: 700;
    color: white;
}








/* CRONOMETRO */
#parte_baixo {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    gap: 30vw;
}

#tempo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tempo span {
    color: black;
    font-size: 2.3vw;
    font-weight: 700;
    margin-right: 0.8vw;
}

#pontuacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pontuacao span {
    margin-right: 0.8vw;
    color: black;
    font-size: 2.3vw;
    font-weight: 700;
}





#texto_venceu {
    display: none;
    margin-top: -3vh;
}

#texto_venceu span {
    font-size: 2vw;
    color: green;
    text-decoration: underline;
}