@font-face {
    font-family: 'Lato';
    src:  url('../../assets/Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--cor-peacock);
}




/* BOTOES */
#botoes {
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    align-items: end;
}

#button_voltar, #button_ranking {
    cursor: pointer;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: var(--cor-taupe);
    font-weight: 900;
    border-radius: 1vw;
    border: 0.3vw solid white;
    /* margin-left: 9vw;
    margin-right: 9vw; */
}

#button_voltar {
    width: 9vw; 
}

#button_ranking {
    width: 24vw; 
}

#button_voltar:hover {
    font-size: 1.6vw;
    width: 10vw; 
    font-weight: 700;
    background-color: var(--cor-space-blue);
    color: var(--cor-taupe);
}

#button_graficos_gerais:hover {
    width: 19vw; 
    font-size: 1.6vw;
    font-weight: 700;
    background-color: var(--cor-space-blue);
    color: var(--cor-taupe);
}

#botoes span {
    width: 20vw;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    text-decoration: underline;
}





/* DESAFIO */
#parte_desafio {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#telas {
    flex-direction: column;
    text-align: center;
    width: 92%;
    display: flex;
    height: 92%;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-taupe);
    border-radius: 2vw;
    border: 0.3vw solid white;
}

#tela_usuario span {
    font-size: 2vw;
    color: white;
    overflow: hidden;
}

#tela_usuario {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    padding: 1.5vw;
}

#tela_usuario span {
    color: black;
    font-weight: 700;
    font-size: 2.2vw;
}

#tela_usuario textarea {
    color: black;
    width: 80%;
    height: 42%;
    font-weight: 700;
    border-radius: 2vw;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    border: 0.2vw solid black;
    font-size: 1.8vw;
    resize: none;
}





#ajuda {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 2vh;
}

#ajuda span {
    color: black;
    font-size: 1.5vw;
    font-weight: 700;
}

#saida {
    color: black;
    font-size: 1.5vw;
    font-weight: 900;
}