/* ADICIONANDO FONTE */
@font-face {
    font-family: 'Lato';
    src:  url('../assets/Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--cor-peacock);
    background: linear-gradient(180deg, var(--cor-caribbean) 0%, var(--cor-space-blue) 100%);
}





/* PARTE DA EXPLICACAO */
#parte_explicacao {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#parte_inicial {
    width: 95%;
    height: 27%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#parte_inicial h1 {
    font-size: 2.3vw;
    color: white;
    background-color: rgba(0, 44, 47, 0.5);
    padding: 0.5vw;
    border-radius: 3.5vw;
    border: 0.3vw solid rgba(2, 52, 89, 0.7);
}












/* BOTOES */
/* #botoes1 {
    margin-bottom: -15vh;
    margin-top: -15vh;
}

#botoes2 {
    margin-top: -10vh;
}

#botoes1, #botoes2 {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#botoes1 button, #botoes2 button {
    background-color: var(--cor-taupe);
    border: 0.2vw solid white;
    cursor: pointer;
    width: 20%;
    height: 90%;
    white-space: nowrap;
    font-weight: 900;
    font-size: 2.4vw;
    border-radius: 1.4vw;
    transition: 0.8s;
}


#botoes1 button:hover, #botoes2 button:hover {
    font-size: 3vw;
    height: 92%;
    color: var(--cor-taupe);
    background-color: var(--cor-space-blue);
} */








#botoes1 {
    margin-bottom: -15vh;
    margin-top: -15vh;
}

#botoes2 {
    margin-top: -10vh;
}

#botoes1, #botoes2 {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#botoes1 div, #botoes2 div {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botoes1 div button, #botoes2 div button{
    border: 0.2vw solid white;
    background-color: var(--cor-taupe);
    border-radius: 2vw;
    width: 70%;
    height: 90%;
    transition: 0.5s;
    font-size: 2.5vw;
    font-weight: 700;
    cursor: pointer;
}

#buttonCsharp button:hover{
    width: 90%;
    height: 100%;
    border: 0.3vw solid white;
    background-color: var(--cor-caribbean);
    background-image: url(../assets/Icons/Logos-Linguagens/logo-csharp.png);
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: 2vw;
    color: white;
    padding-left: 6vw;
}

#buttonJava button:hover{
    width: 90%;
    height: 100%;
    background-color: var(--cor-caribbean);
    background-image: url(../assets/Icons/Logos-Linguagens/logo-java.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    color: white;
    background-position: 3.5vw;
    padding-left: 6vw;
}

#buttonJavascript button:hover{
    background-color: var(--cor-caribbean);
    width: 100%;
    height: 100%;
    background-image: url(../assets/Icons/Logos-Linguagens/logo-javascript.png);
    background-size: 5rem;
    background-repeat: no-repeat;
    color: white;
    background-position: 1.5vw;
    padding-left: 6vw;
}

#buttonHtml button:hover{
    width: 90%;
    height: 100%;
    border: 0.3vw solid white;
    background-color: var(--cor-caribbean);
    background-image: url(../assets/Icons/Logos-Linguagens/logo-html.png);
    background-size: 5.2rem;
    background-repeat: no-repeat;
    background-position: 2vw;
    color: white;
    padding-left: 6vw;
}

#buttonCss button:hover{
    width: 90%;
    height: 100%;
    background-color: var(--cor-caribbean);
    background-image: url(../assets/Icons/Logos-Linguagens/logo-css.png);
    background-size: 4.1rem;
    background-repeat: no-repeat;
    color: white;
    background-position: 3.5vw;
    padding-left: 6vw;
}

#buttonSql button:hover{
    background-color: var(--cor-caribbean);
    width: 100%;
    height: 100%;
    background-image: url(../assets/Icons/Logos-Linguagens/logo-sql-2.png);
    background-size: 9rem;
    background-repeat: no-repeat;
    color: white;
    background-position: 1.5vw;
    padding-left: 6vw;
}