/* ADICIONANDO FONTE */
@font-face {
    font-family: 'Lato';
    src:  url('../assets/Font/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/Font/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* VARIAVEIS */
:root {
    --cor-taupe: #B2A59F;
    --cor-space-blue: #023459;
    --cor-caribbean: #1E646E;
    --cor-peacock: #002C2F;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body {
    height: 100%;
    width: 100%;
}


#tela_toda {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--cor-peacock);
}







#tela_cadastro {
    height: 100%;
    width: 40%;
    background-color: var(--cor-peacock);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10%;
}

#caixa_cadastro {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    border: 0.3vw solid white;
    border-radius: 2vw;
}



#home {
    position: absolute;
    display: flex;
    z-index: 1;
    margin-top: 4vh;
    margin-left: 2vw;
    width: 7vw;
    height: 5vh;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    background-color: var(--cor-space-blue);
    font-weight: 900;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid white;
    color: var(--cor-taupe);
    transition: 0.5s;
}

#home:hover {
    background-color: var(--cor-taupe);
    color: #002C2F;
    margin-top: 3.75vh;
    margin-left: 1.5vw;
    width: 8vw;
    height: 5.5vh;
    font-size: 1.4vw;
}




#titulo {
    color: var(--cor-taupe);
    font-size: 3vw;
    height: 15%;
    margin-bottom: 2%;
}

#caixa_cadastro input::placeholder {
    color: var(--cor-space-blue);
    text-align: center;
}

#caixa_cadastro input {
    text-align: center;
    background-color: var(--cor-taupe);
    color: white;
    width: 60%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 6vh;
    transition: 0.4s;
    font-size: 1.5vw;
    border: 0.2vw solid white;
    border-radius: 0.5vw;
}

#caixa_cadastro input:focus {
    width: 70%;
    height: 7vh;
    font-size: 2vw;
    color: white;
    font-weight: 400;
    margin-bottom: 1%;
    margin-top: 1%;
}



/* OLHO DA SENHA */
#div_senha1 {
    position: fixed;
    margin-top: 21.3vh;
    margin-left: 18.5vw;
    transition: 0.4s;
}

#div_senha2 {
    position: fixed;
    margin-top: 41vh;
    margin-left: 18.5vw;
    transition: 0.4s;
}

#img_olho_aberto1, #img_olho_aberto2 {
    cursor: pointer;
    transition: 0.5s;
    width: 2.2vw;
    height: 2.2vw;
}

#img_olho_fechado1, #img_olho_fechado2 {
    cursor: pointer;
    transition: 0.5s;
    width: 2.1vw;
    height: 2.1vw;
    display: none;
}




#cadastrar {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 9vh;
    align-items: center;
    text-align: center;
}

#cadastrar button {
    background-color: var(--cor-space-blue);
    color: var(--cor-taupe);
    width: 90%;
    height: 70%;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    font-weight: 900;
    font-size: 1.8vw;
    overflow-y: hidden;
    transition: 0.5s;
}

#cadastrar button:hover {
    background-color: var(--cor-taupe);
    color: #002C2F;
    width: 95%;
    height: 75%;
    font-size: 2.1vw;
    cursor: pointer;
}









#login {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    width: 100%;
    height: 10%;
    align-items: center;
    text-align: center;
}

#login span {
    color: white;
    font-size: 1.6vw;
    width: 100%;
    height: 50%;
    text-decoration: underline;
}

#login button {
    background-color: var(--cor-space-blue);
    color: var(--cor-taupe);
    width: 20%;
    height: 50%;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    font-weight: 900;
    font-size: 1.4vw;
    transition: 0.5s;
}

#login button:hover {
    background-color: var(--cor-taupe);
    color: #002C2F;
    width: 23%;
    height: 60%;
    font-size: 1.6vw;
    cursor: pointer;
}







#parte_beneficios {
    left: -100vw;
    position: fixed;
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 5%;
    justify-content: center;
    height: 80%;
    border-radius: 2vw;
    padding: 4vw;
    background: rgb(30,100,110);
    background: radial-gradient(circle, rgba(30,100,110,0.6) 0%, rgba(0,44,47,1) 65%);
}

#titulo_beneficios {
    color: var(--cor-taupe);
    font-size: 1.5vw;
    font-weight: 700;
}

#beneficios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#beneficios div {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    width: 45%;
}

#beneficios div span {
    width: 70%;
    text-align: center;
    font-size: 1.5vw;
    margin-left: 2%;
    font-weight: 700;
    color: white;
}

#beneficios img {
    width: 2vw;
    height: 2vw;
}



#tela_cobrir {
    background-color: black;
    position: absolute;
    display: none;
    z-index: 5; 
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
}







/* VALIDACOES */
#validacao_nome, #validacao_sobrenome, #validacao_email, #validacao_senha, #validacao_confirmar_senha {
    font-size: 1.2vw;
    font-weight: 400;
    color: red;
    display: flex;
    position: absolute;
}

#validacao_nome {
    margin-top: 28.5vh;
    margin-right: 20vw;
}

#validacao_sobrenome {
    margin-top: 38.4vh;
    margin-right: 18.4vw;
}

#validacao_email {
    margin-top: 48vh;
}

#validacao_senha {
    margin-top: 57.8vh;
}

#validacao_confirmar_senha {
    margin-top: 67.6vh;
}